 
 
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for screens between 769px and 1024px wide */
  .contain {
    display: block;
  }
}

@media screen and (min-width: 1025px) {
  /* Styles for screens wider than 1024px */
  .contain {
   display: none;
  }
}


.ring {
  display: flex;
  border: -3px solid #0f9d30; 
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  

  
} 
.ring:nth-child(1) {
  border-color: #f00;
  border-bottom-width: 8px;
  animation:  rotate1 3s linear infinite;
}
@keyframes rotate1 {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

.ring:nth-child(2) {
  border-color: #FFD700;
  border-bottom-width: 8px;
  animation:  rotate2 2s linear infinite;
}
@keyframes rotate3 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

.ring:nth-child(3) {
  border-color: #1a365d;
  border-bottom-width: 8px;
  animation:  rotate3 1s linear infinite;
}
@keyframes rotate2 {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.loading{
  color: rgb(219, 215, 208);
}
